* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
}

.app__left {
    flex: 0.8;
    padding: 30px;
}

.app__right {
    flex: 0.2;
    padding: 30px;
}

.app__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app__header h1 {
    font-weight: 400;
}

.app__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

@media (max-width: 900px) {
    .app {
        flex-direction: column;
    }
}